<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Ya puedo usar plantillas!

    <p style = "color: blueviolet;">Mi nombre es: {{nombre}}</p>
    <p style = "color: pink;">Mi apellido es: {{apellido}}</p>

    <h1>Este template fue creado el: {{hoy}}</h1>

    <h3>Estas son mis notas de la universidad:</h3>
    <p>
        {% for n in notas %}
         {% if n < 4%}
            <p style = "color: red;">Nota mala {{n}}</p>
         {%else%} <p style = "color: green;">Nota buena {{n}}</p>
         {% endif %}
         
        {% endfor %}    
    </p>

</body>
</html>